<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="confudge" type="Confudge.Section, Confudge"/>
  </configSections>

  <confudge>
    <SimpleType>
      <Name>Khan</Name>
      <Age>30</Age>
    </SimpleType>

    <AnotherType>
      <Role>Developer</Role>
      <OpinionOfJavascript>Low</OpinionOfJavascript>
    </AnotherType>
  </confudge>
</configuration>