<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="confudge" type="Confudge.Section, Confudge"/>
  </configSections>

  <confudge>
    <SimpleType>
      <Name>Khan</Name>
      <Age>30</Age>
    </SimpleType>

    <AnotherType>
      <Role>Developer</Role>
      <OpinionOfJavascript>Low</OpinionOfJavascript>
    </AnotherType>

    <AutoType>
      <Role>Code monkey</Role>
      <OpinionOfJavascript>High</OpinionOfJavascript>
    </AutoType>

    <NestedType>
      <Property>12343</Property>
      <Address>http://www.github.com</Address>

      <AnotherType>
        <Role>Developer</Role>
        <OpinionOfJavascript>Low</OpinionOfJavascript>
      </AnotherType>
      
      <Things>
        
        <AutoType>
          <Role>Something</Role>
          <OpinionOfJavascript>Low</OpinionOfJavascript>
        </AutoType>
        
        <AutoType>
          <Role>Code monkey</Role>
          <OpinionOfJavascript>High</OpinionOfJavascript>
        </AutoType>
        
      </Things>
    </NestedType>
  </confudge>
</configuration>